<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

	<bean id="simulation" class="business.simulation.Simulation">
		<property name="simulationEntry" ref="entry" />
		<property name="statisticManager" ref="manager" />
		<property name="statisticPersistence" ref="jdbcDAO" />
	</bean>

	<bean id="persistenceDAO" class="dao.StatisticPersistence"
		abstract="true" scope="prototype" />

	<bean id="hibernateDAO"
		class="persistence.hibernate.HibernatePersistence"
		parent="persistenceDAO" />
	<bean id="jdbcDAO" class="persistence.jdbc.JdbcPersistence"
		parent="persistenceDAO" />

	<!-- This part is used only by TestSimulation -->
	<bean id="entry" class="business.client.SimulationEntry">
		<property name="cashierCount">
			<value>3</value>
		</property>
		<property name="clientArrivalInterval">
			<value>5</value>
		</property>
		<property name="clientPatienceTime">
			<value>7</value>
		</property>
		<property name="maxServiceTime">
			<value>20</value>
		</property>
		<property name="minServiceTime">
			<value>10</value>
		</property>
		<property name="priorityClientRate">
			<value>0.1</value>
		</property>
		<property name="simulationDuration">
			<value>1000</value>
		</property>
	</bean>

	<bean id="manager" class="business.simulation.StatisticManager" />

	<bean id="client" class="business.client.AbstractClient"
		abstract="true" scope="prototype" />
	<bean id="operation" class="business.client.AbstractOperation"
		abstract="true" scope="prototype" />

	<bean id="vipConsultation" class="business.client.VIPClient"
		parent="client">
		<property name="operation" ref="consultation" />
	</bean>
	<bean id="vipTransfer" class="business.client.VIPClient"
		parent="client">
		<property name="operation" ref="transfer" />
	</bean>
	<bean id="vipWithdraw" class="business.client.VIPClient"
		parent="client">
		<property name="operation" ref="withdraw" />
	</bean>
	<bean id="normalConsultation" class="business.client.Client"
		parent="client">
		<property name="operation" ref="consultation" />
	</bean>
	<bean id="normalTransfer" class="business.client.Client"
		parent="client">
		<property name="operation" ref="transfer" />
	</bean>
	<bean id="normalWithdraw" class="business.client.Client"
		parent="client">
		<property name="operation" ref="withdraw" />
	</bean>
	<bean id="consultation" class="business.client.Consultation"
		parent="operation" />
	<bean id="transfer" class="business.client.Transfer"
		parent="operation" />
	<bean id="withdraw" class="business.client.Withdraw"
		parent="operation" />


	<aop:config>
		<aop:pointcut id="servicePointcut"
			expression="execution(* business.simulation.StatisticManager.registerNonServedClient(..))" />
		<aop:aspect id="serviceReporterAspect"
			ref="serviceReporter">
			<aop:before method="nonServedClientEntry"
				pointcut-ref="servicePointcut" />
		</aop:aspect>
	</aop:config>
	<bean id="serviceReporter" class="business.spring.AOPReporter" />



</beans>